* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 16%;
  background-color: transparent;
  transition: ease 0.4s;
}

.logo__image {
  width: 150px;
  height: auto;
}

.nav__list {
  display: flex;
}

.nav__link {
  display: inline-block;
  color: #040000;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin: 0 5px;
  transition: ease 0.4s;
}

.nav__link:hover {
  background-color: #a32e37;
  color: #fff;
}

.active {
  background-color: #a32e37;
  color: #fff;
}

#menu-icon {
  color: #fff;
  font-size: 2.5rem;
  z-index: 1001;
  cursor: pointer;
  display: none;
}

.section {
  padding: 0 16%;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(./assets/img/background.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.main__text__title {
  font-size: 5.625rem;
  color: #fff;
  max-width: 200px;
  line-height: 1.1;
  margin-bottom: 60px;
}

.main__text__button {
  display: inline-block;
  width: 230px;
  height: 58px;
  background-color: #a32e37;
  color: #fff;
  border: none;
  outline: none;
  line-height: 58px;
  font-size: 1.25rem;
  transition: all 0.4s ease;
  cursor: pointer;
}

.main__text__button:hover {
  transform: scale(0.9);
  background-color: #fff;
  color: #a32e37;
}
